<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.peach.launch.dao.ActivityMapper">
  <resultMap id="BaseResultMap" type="io.peach.launch.model.Activity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="activityname" jdbcType="VARCHAR" property="activityname" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="statu" jdbcType="VARCHAR" property="statu" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <update id="deleteActivity">
    update qzx_activity
    <set>
      <if test="type=='up'">
        statu=1,
      </if>
      <if test="type=='down'">
        statu=0,
      </if>
    </set>
    where id=#{id}
  </update>
</mapper>