<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.peach.launch.dao.GradingMapper">
  <resultMap id="BaseResultMap" type="io.peach.launch.model.Grading">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shopid" jdbcType="INTEGER" property="shopid" />
    <result column="f_shopid" jdbcType="INTEGER" property="f_shopid" />
    <result column="point_type" jdbcType="VARCHAR" property="point_type" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="statu" jdbcType="INTEGER" property="statu" />
  </resultMap>

  <select id="selectFShopIdByTypeAndShopid" resultType="Integer">
    select f_shopid from qzx_grading where shopid=#{shopid} and point_type=#{type}
  </select>

  <select id="getChildShopIdByTypeAndFshopid" resultType="Integer">
    select shopid from qzx_grading where f_shopid=#{Fshopid} and point_type=#{type}
  </select>

  <insert id="insertCodeSameType">
    insert into qzx_grading(shopid,f_shopid,point_type,createtime,updatetime) values(#{shopid},#{Fshopid},#{type},now(),now())
  </insert>
</mapper>