<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.peach.launch.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="io.peach.launch.model.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shopid" jdbcType="INTEGER" property="shopid" />
    <result column="goodsnum" jdbcType="INTEGER" property="goodsnum" />
    <result column="priceAll" jdbcType="REAL" property="priceAll" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="statu" jdbcType="INTEGER" property="statu" />
  </resultMap>

  <select id="selectOrderByShopid" resultType="io.peach.launch.model.Order">
    select * from qzx_order where shopid=#{shopid} and statu=1
  </select>

  <select id="selectOrderMessageByOrderid" resultType="io.peach.launch.model.OrderMessage">
    select * from qzx_order_message where orderid=#{orderid} and statu=1
  </select>

  <update id="cancelOrder">
    update qzx_order set statu=0 where orderid=#{orderid}
  </update>
  <update id="finishOrder">
    update qzx_order set statu=2 where orderid=#{orderid}
  </update>
</mapper>