<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.peach.launch.dao.ShopMessageMapper">
  <resultMap id="BaseResultMap" type="io.peach.launch.model.ShopMessage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="owner_phone" jdbcType="VARCHAR" property="owner_phone" />
    <result column="shoptype_id" jdbcType="INTEGER" property="shoptype_id" />
    <result column="shopname" jdbcType="VARCHAR" property="shopname" />
    <result column="shopaddress" jdbcType="VARCHAR" property="shopaddress" />
    <result column="profit" jdbcType="REAL" property="profit" />
    <result column="cashout" jdbcType="REAL" property="cashout" />
    <result column="cashin" jdbcType="REAL" property="cashin" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="statu" jdbcType="INTEGER" property="statu" />
  </resultMap>

  <insert id="addGradingRecommend">
    insert into qzx_grading(shopid,f_shopid,point_type,createtime,updatetime) values(#{shopid},#{recommendid},'人员推荐', now(),now())
  </insert>
  <insert id="addGradingPosition">
    insert into qzx_grading(shopid,f_shopid,point_type,createtime,updatetime) values(#{shopid},#{positionid},'地区推荐', now(),now())
  </insert>

  <select id="getShopMoney" resultType="BigDecimal">
    select agencycost from qzx_shop_type where id=
    (select shoptype_id from qzx_shop_message where id=#{shopid})
  </select>

  <select id="getRecommendAndPosition" resultType="map">
    select u.username as username,s.shopname as shopname,s.id as id from qzx_shop_message as s, qzx_user as u where u.id=s.userid
  </select>

  <select id="getPoint" resultType="map">
    select percentage  from qzx_point where type='人员推荐' and level=1
       UNION ALL
    select percentage  from qzx_point where type='人员推荐' and level=2
       UNION ALL
    select percentage  from qzx_point where type='地区推荐' and level=1
       UNION ALL
    select percentage  from qzx_point where type='地区推荐' and level=2
  </select>

  <update id="changeMoneyByShopid">
    update qzx_shop_message set profit=#{money},cashin=#{money} where id=#{shopid}
  </update>

  <select id="getShopMessageByid" resultType="io.peach.launch.model.ShopMessage">
    select * from qzx_shop_message where id=#{recommendid}
  </select>

  <update id="updateShopMoney">
    update qzx_shop_message set profit=#{profit},cashin=#{cashin} where id=#{shopid}
  </update>

  <select id="getTwoGradingPerson" resultType="io.peach.launch.model.ShopMessage">
    select id,profit,cashin from qzx_shop_message where id=
    (select f_shopid from qzx_grading where shopid=#{shopid} and point_type='人员推荐' and f_shopid!=0)
  </select>
  <select id="getTwoGradingPosition" resultType="io.peach.launch.model.ShopMessage">
    select id,profit,cashin from qzx_shop_message where id=
    (select f_shopid from qzx_grading where shopid=#{shopid} and point_type='地区推荐' and f_shopid!=0)
  </select>

  <insert id="insertRecord">
    insert into qzx_record(shopid,type,sourceid,money,updatetime,createtime) values(#{record.shopid},#{record.type},#{record.sourceid},#{record.money},now(),now())
  </insert>

  <select id="getShopList" resultType="io.peach.launch.model.ShopMessage">
    select userid,owner_phone,shoptype_id,shopname,shoppicture,shopaddress,profit,cashout,cashin,createtime,updatetime from qzx_shop_message,typename as shoptype_name
    from qzx_shop_type where qzx_shop_message.shoptype_id=qzx_shop_type.id and qzx_shop_message.statu=1
    </select>

  <select id="getFShopPerson" resultType="io.peach.launch.model.ShopMessage">
    select * from qzx_shop_message where id=(
    select f_shopid from qzx_grading where shopid=#{shopid} and f_shopid!=0 and point_type='人员推荐'
    )
  </select>
  <select id="getFShopPosition" resultType="io.peach.launch.model.ShopMessage">
    select * from qzx_shop_message where id=(
    select f_shopid from qzx_grading where shopid=#{shopid} and f_shopid!=0 and point_type='地区推荐'
    )
  </select>

  <select id="getChildShopMessage" resultType="io.peach.launch.model.ShopMessage">
     select s.userid,s.owner_phone,s.shoptype_id,s.shopname,s.shoppicture,s.shopaddress,s.profit,s.cashout,s.cashin,s.createtime,s.updatetime,
     g.point_type as recommmend_type
     from qzx_shop_message as s,qzx_grading as g
     where s.id=g.shopid and g.f_shopid =#{shopid}
  </select>

  <select id="getGoodShopList" resultType="io.peach.launch.model.ShopMessage">
    select * from qzx_shop_message order by rand() limit 3
  </select>
</mapper>