<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.peach.launch.dao.UserMapper">
  <resultMap id="BaseResultMap" type="io.peach.launch.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="open_id" />
    <result column="identify_card" jdbcType="VARCHAR" property="identify_card" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="add_time" jdbcType="TIMESTAMP" property="add_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="statu" jdbcType="INTEGER" property="statu" />
  </resultMap>

  <select id="getUserInfoByToken" resultType="io.peach.launch.model.User" parameterType="String">
    select qzx_role.category as category_id,qzx_role.name as role_name, qzx_user.id,
    qzx_user.identify_card, qzx_user.username, qzx_user.update_time from qzx_user
    join qzx_user_role on qzx_user.id = qzx_user_role.uid
    join qzx_role on qzx_user_role.rid = qzx_role.id
    where token = #{token}
  </select>

  <select id="nameExist" resultType="io.peach.launch.model.User">
    select id from qzx_user where username = #{name}
  </select>
  <select id="selectUserByOpenid" resultType="io.peach.launch.model.User">
    select * from qzx_user where open_id=#{openid}
  </select>
  <select id="getUserByPassword" resultType="io.peach.launch.model.User">
    select * from qzx_user where username=#{username} and password=#{password}
  </select>
  <select id="getRoleNameByUserid" resultType="String">
    select info from qzx_role where id=(select rid from qzx_user_role where uid=#{id})
  </select>

  <select id="getShopMessageByToken" resultType="io.peach.launch.model.ShopMessage">
    select * from qzx_shop_message where userid=(
    select id from qzx_user where token=#{token}
    )
  </select>

</mapper>