<!--<p>-->
  <!--upload-img works!-->
<!--</p>-->

<div *ngIf="!remoteImg" (click)="openUploadFileInput()" style="width: 100px;height: 100px;background-color: #fafafa;display: flex;justify-content: center;align-items: center;flex-direction: column;border-radius: 5px">
  <!--<i class="anticon anticon-plus"></i>-->
  <!--<div class="ant-upload-text">图片上传</div>-->
  <i nz-icon nzType="plus"></i>
  <div class="ant-upload-text">图片上传</div>
</div>

<div *ngIf="remoteImg" (click)="openUploadFileInput()">
  <img [src]="remoteImg" style="width: 100px;height: 100px; object-fit: cover">
</div>
