<div class="modal-header">
  <div class="modal-title">查看 {{ record.id }} 信息</div>
</div>
<!--<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>-->
<div sv-container *ngIf="info">
  <sv *ngIf="currentShop" label="当前店铺">{{currentShop['shopname']}}</sv>
  <sv *ngIf="sourceShop" label="佣金来源">{{sourceShop['shopname']}}</sv>
  <sv *ngIf="info['subscribe']" label="描述">{{ info['subscribe'] }}</sv>
  <sv *ngIf="info['image']" label="记录"><img src="{{IMG_URL + info['image']}}"></sv>
  <sv *ngIf="info['type']" label="消息类型">{{info['type']}}</sv>
  <!--<sv label="联系地址">曲丽丽 18100000000 浙江省杭州市西湖区黄姑山路工专路交叉路口</sv>-->
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>

<!--createtime: "2019-10-21T10:02:32.000+0000"-->
<!--id: 2-->
<!--image: "../uploads/20191021/b75cb357-7a53-430c-8e65-b57f2bbf97f0.jpg"-->
<!--money: 1-->
<!--shopid: 2-->
<!--sourceid: 1-->
<!--statu: 1-->
<!--subscribe: "您有一笔佣金已到账！请注意查收"-->
<!--type: "佣金消息"-->
<!--updatetime: "2019-10-21T10:02:32.000+0000"-->
