<div class="modal-header">
  <div class="modal-title">查看信息</div>
</div>
<!--<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>-->
<div sv-container *ngIf="params">
  <sv label="商品名">{{ params['goodsname'] }}</sv>
  <sv label="价格">{{params['goodsprice']}}</sv>
  <sv label="推荐人利润">{{params['personmoney']}}</sv>
  <sv label="地区代理利润">{{params['positionmoney']}}</sv>
  <sv label="缩略图"><img style="width: 100px;height: 100px; object-fit: cover" src="{{ params['picture']}}"></sv>
  <!--<sv label=""></sv>-->
  <!--<sv label="详情" innerHTML="{{params['represent']}}"></sv>-->
</div>

<nz-card>
  <nz-card-tab>商品详情</nz-card-tab>
  <div innerHTML="{{params['represent']}}"></div>
</nz-card>

<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
