.sw-input{
  position: relative;
  padding: 24rpx 0;
  color: #333;
  background-color: #FFF;
  margin-left: 32rpx;
  margin-bottom: 1PX;
  position: relative;
}
.sw-title{
  margin-right: 16rpx;
  width: 172rpx;
  font-size: 32rpx;
  line-height: 1.5;
  vertical-align: middle;
  text-align: left;
}
